.centered {
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px;
  justify-content: center;
  justify-items: center;
}

.chart {
  /* display: grid; */
  height: 600px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.table {
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.table_caption {
  font-weight: bold;
  text-align: center;
}

.price {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 0, 195);
  padding: 10px;
}

.spreads {
  display: flex;
  height: min-content;
  align-items: center;
  justify-content: center;
}