.centered {
  text-align: center;
}

.container {
  /* display: grid; */
  /* height: 100vh;
  grid-template-rows: 80% 80%;
  grid-template-columns: 100%; */
  grid-gap: 0px;
  justify-content: center;
  justify-items: center;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}