.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content 30px min-content;
  grid-gap: 5px;
}

.results {
  justify-self: right;
  padding: 10px;
}

.span-two-columns {
  justify-self: center;
  grid-column: span 2;
}

.files {
  justify-self: left;
  padding: 10px
}