.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 30px 1fr;
  grid-gap: 0px;
  justify-items: center;
}

.results {
  border-width: 1px;
  border: 1px solid gray;
}